<html>

       <title>{{title}}</title>
       <link rel='stylesheet' href='/stylesheets/style.css' />
       <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <div id="headerwrap">
		<div class="container">
			<div class="row">
				<div class="homeText">
					<h1> What are you looking for?</h1>
					<form class="form-inline" role="form">
					  <center><div class="form-group">
					    <input class="search" placeholder="">
					  </div></center>
					  <button type="submit" class="searchButton">Search</button>
					</form>					
				</div><!-- /col-lg-6 -->
				<div class="col-lg-6">
					
				</div><!-- /col-lg-6 -->
				
			</div><!-- /row -->
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
    <div class="container">
		<div class="row mt centered">
			<div class="col-lg-6 col-lg-offset-3">
				<h1>Categories</h1>
				
			</div>
		</div><!-- /row -->
		
		<div class="row mt centered">
			<div class="col-lg-4">
				
                <h4><a href= "">Books</a></h4>
				<h4><a href= "">Clothes</a></h4>
                <h4><a href= "">Shoes</a></h4>
                
			</div><!--/col-lg-4 -->

			<div class="col-lg-4">
				
				<h4><a href= "">Electronics</a></h4>
                <h4><a href= "">Notes</a></h4>
                <h4><a href= "">Grinds</a></h4>
				

			</div><!--/col-lg-4 -->

			
		</div><!-- /row -->
	</div><!-- /container -->
	

		<hr>
	
	
	
		<hr>
		<p class="centered">Created by Dynamic Developers 2018</p>
	</div><!-- /container -->
       <body>{{{body}}}</body>
        
   </html>